* {
    font-family: "Caveat", cursive;
}

body {
    margin: 0;
}


body {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.video {
    margin: 20px;
    margin-right: 30px;
    margin-bottom: 5px;

}

video {
    width: 100%;
}

form {
    display: flex;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #ff00b3 ;
    
}

ul {
    display:flex;
    list-style-type: none;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-size: 2rem;
    color: #0D5ACF;
}

a:hover {
    color: #2F7CEF;
}

h2 {
    text-align: center;
    font-size: 3rem;
    color: #b60dc1 ;
    margin-top: 0px;
}
p {
    text-align: center;
    font-size: 2rem;
    color: #0D5ACF;

}

label {
    font-size: 2rem;
}

form { 
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

@media only screen and (min-width: 700px) {
    .video {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 500px) {
 a {
    font-size: 1rem;
 }
}

footer {
    margin-top: 20px;
}